aniso8601==1.2.1
click==6.7
coverage==4.4.1
dpath==1.4.0
Flask==0.12.2
Flask-Admin==1.5.0
Flask-Login==0.4.0
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.2
functools32==3.2.3.post2
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
six==1.10.0
SQLAlchemy==1.1.13
swagger-py-codegen==0.2.9
Werkzeug==0.12.2
WTForms==2.1
